body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('../img/fundo.png');
    color: rgb(5, 48, 12);
    font-size: 30px;
}
table{
    width: 400px;
    border-collapse: collapse;
}
td{
    border: 2px solid rgb(154, 241, 132);
}
.box{
    color: rgb(30, 180, 50);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 50px;
    border-radius: 5px;
    width: 20%;
}