body{
    font-family:Arial, Helvetica, sans-serif;
}
#link{
    position:absolute;
    right:0;
    margin: 20px;
}
.cor1{
    background-color: red;
    width:100px;
    height:100px;
    border-radius:100%;
    margin:3%;
}
.cor2{
    background-color:green;
    width:100px;
    height:100px;
    border-radius:100%;
    margin:3%;
}
.cor3{
    background-color:blue;
    width:100px;
    height:100px;
    border-radius:100%;
    margin:3%;
}
.todas{
}.cor4{
    background-color: red;
    width:100px;
    height:100px;
    border-radius:100%;
    margin:3%;
}
.cor5{
    background-color:green;
    width:100px;
    height:100px;
    border-radius:100%; 
    margin:3%;
}
.cor6{
    background-color:blue;
    width:100px;
    height:100px;
    border-radius:100%;
    margin:3%;
}
.todas2{
    display: flex;
}